@import '../../../../assets/scss/theme/primary';

.container {
  float: left;
  position: relative;
  width: 35px;
  height: 35px;
  margin: 5px;
  font-size: 18px;
  font-family: $font-bold;
  line-height: 35px;
  color: $white;
  text-align: center;

  .circle {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: red;
    border-radius: 50%;
    box-sizing: border-box;
    display: block;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
      margin-right: -2%;
    }
  }
}
