@import '../../../../assets/scss/theme/primary';

.stake-selection {
  float: left;
  width: 30%;
  height: 100%;
  text-align: center;
  line-height: 135%;
  border-right: 2px solid $teal;

  .toggle {
    cursor: pointer;
    display: inline-block;
    background: $dark-teal;
    border-radius: 5px;
    padding: 0 10px;
    color: $yellow;

    &:hover {
      color: $white;
      background: $teal;
    }
  }
}