@import '../../../../assets/scss/theme/primary';

.play-button {
  width: 22%;
  float: left;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  margin: 10px 0;

  &:hover {
    background: $teal;
    border-radius: 50px;
  }
}