.ticket-container {
  height: 16.67%;
  border-bottom: 1px dashed black;
  background: pink;
  padding: 2%;
  box-sizing: border-box;

  .ticket {
    width: 100%;
    height: 100%;
    margin: 0;
    background: white;
    table-layout: fixed;

    .number-container {
      border: 1px solid black;
      text-align: center;
    }
  }
}